body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

h1, p, figure {
  margin: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.web-navi {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-block: 2.5em;
  margin-inline: 1.4em;
  z-index: 2;
}
@media screen and (min-width: 48em) {
  .web-navi {
    margin-inline: 2.8em;
  }
}
@media screen and (min-width: 62em) {
  .web-navi {
    margin-block: 3.7em;
    margin-inline: 10.2em;
  }
}
.web-navi .logo {
  width: 9.4em;
}
@media screen and (min-width: 62em) {
  .web-navi .logo {
    width: initial;
  }
}
@media screen and (min-width: 62em) {
  .web-navi #navi-open-btn {
    display: none;
  }
}
.web-navi .navi-list {
  display: none;
  column-gap: 1.8em;
}
@media screen and (min-width: 62em) {
  .web-navi .navi-list {
    display: flex;
  }
}
.web-navi .navi-list .navi-link {
  padding-block: 1em;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-family: "Alata", sans-serif;
  position: relative;
}
.web-navi .navi-list .navi-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background-color: hsl(0, 0%, 100%);
  transform: translateX(-50%);
}
.web-navi .navi-list .navi-link:hover::after {
  width: 50%;
}

#navi-wrapper-mobile {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0, 0%, 0%);
  padding-inline: 1.3em;
  padding-block: 2.5em;
  row-gap: 10em;
}
@media screen and (min-width: 48em) {
  #navi-wrapper-mobile {
    padding-inline: 2.8em;
  }
}
#navi-wrapper-mobile div > img:first-child {
  width: 9.4em;
}
#navi-wrapper-mobile .navi-list-mobile {
  row-gap: 1.5em;
}
#navi-wrapper-mobile .navi-list-mobile > a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.5em;
}

main {
  background-color: hsl(0, 0%, 100%);
}
main .hero-section {
  position: relative;
}
main .hero-section .hero-section-img {
  width: 100%;
  object-fit: contain;
}
@media screen and (min-width: 48em) {
  main .hero-section .hero-section-img {
    content: url("../images/desktop/image-hero.jpg");
  }
}
@media screen and (min-width: 62em) {
  main .hero-section .hero-section-img {
    content: url("../images/desktop/image-hero.jpg");
  }
}
main .hero-section .hero-section-header {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid hsl(0, 0%, 100%);
  padding: 20px 25px;
}
@media screen and (min-width: 62em) {
  main .hero-section .hero-section-header {
    transform: translate(0, -50%);
    left: 10.2em;
    max-width: 35em;
    padding: 30px 35px;
  }
}
main .hero-section .hero-section-header h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  color: hsl(0, 0%, 100%);
  font-size: 2.4em;
}
@media screen and (min-width: 62em) {
  main .hero-section .hero-section-header h1 {
    font-size: 4.6em;
  }
}
main .main-content-container {
  padding-inline: 1.5em;
}
@media screen and (min-width: 48em) {
  main .main-content-container {
    padding-inline: 5em;
  }
}
@media screen and (min-width: 62em) {
  main .main-content-container {
    padding-inline: 10.2em;
  }
}
main .main-content-container .info-wrapper {
  margin-block: 6em;
  position: relative;
}
@media screen and (min-width: 62em) {
  main .main-content-container .info-wrapper {
    margin-block: 9em;
  }
}
main .main-content-container .info-wrapper img {
  width: 100%;
  margin-block-end: 1em;
}
@media screen and (min-width: 62em) {
  main .main-content-container .info-wrapper img {
    width: 45em;
    content: url("../images/desktop/image-interactive.jpg");
  }
}
main .main-content-container .info-wrapper .info-content-wrapper {
  padding-inline: 1em;
}
@media screen and (min-width: 62em) {
  main .main-content-container .info-wrapper .info-content-wrapper {
    position: absolute;
    top: 35%;
    left: 51%;
    background-color: hsl(0, 0%, 100%);
    padding-inline-start: 6.5em;
    padding-inline-end: 1.5em;
    padding-block-start: 4em;
    padding-block-end: 1em;
  }
}
main .main-content-container .info-wrapper .info-content-wrapper > * {
  text-align: center;
}
@media screen and (min-width: 62em) {
  main .main-content-container .info-wrapper .info-content-wrapper > * {
    text-align: left;
  }
}
main .main-content-container .info-wrapper .info-content-wrapper h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-weight: 300;
  font-size: 2em;
}
@media screen and (min-width: 62em) {
  main .main-content-container .info-wrapper .info-content-wrapper h2 {
    font-size: 2.5em;
  }
}
main .main-content-container .info-wrapper .info-content-wrapper p {
  font-family: "Alata", sans-serif;
  font-size: 0.9em;
  color: hsl(0, 0%, 50%);
  line-height: 1.75;
}
main .main-content-container .creations-wrapper {
  margin-block-end: 6em;
  grid-template-rows: repeat(3, auto);
}
@media screen and (min-width: 48em) {
  main .main-content-container .creations-wrapper {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    margin-block-end: 8em;
  }
}
main .main-content-container .creations-wrapper .creations-list-header {
  grid-area: 1;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 1.5em;
}
@media screen and (min-width: 48em) {
  main .main-content-container .creations-wrapper .creations-list-header {
    grid-area: 1/1/2/2;
    text-align: left;
  }
}
@media screen and (min-width: 62em) {
  main .main-content-container .creations-wrapper .creations-list-header {
    font-size: 3em;
  }
}
main .main-content-container .creations-wrapper .btn-wrapper {
  grid-area: 3;
}
@media screen and (min-width: 48em) {
  main .main-content-container .creations-wrapper .btn-wrapper {
    grid-area: 1/2/2/3;
    justify-content: end;
    align-items: start;
  }
}
main .main-content-container .creations-wrapper .btn-wrapper #see-all-btn {
  padding: 0.7em 3em;
  border: 1px solid hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  font-family: "Alata", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}
main .main-content-container .creations-wrapper .btn-wrapper #see-all-btn:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}
main .main-content-container .creations-wrapper .creations-list {
  grid-template-rows: repeat(8, auto);
  grid-area: 2;
  gap: 1em;
  margin-block-end: 2em;
}
@media screen and (min-width: 48em) {
  main .main-content-container .creations-wrapper .creations-list {
    grid-area: 2/1/3/3;
  }
}
@media screen and (min-width: 62em) {
  main .main-content-container .creations-wrapper .creations-list {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1.5em;
  }
}
main .main-content-container .creations-wrapper .creations-list figure {
  position: relative;
}
@media screen and (min-width: 62em) {
  main .main-content-container .creations-wrapper .creations-list figure #image-deep-earth {
    content: url("../images/desktop/image-deep-earth.jpg");
  }
  main .main-content-container .creations-wrapper .creations-list figure #image-night-arcade {
    content: url("../images/desktop/image-night-arcade.jpg");
  }
  main .main-content-container .creations-wrapper .creations-list figure #image-soccer-team {
    content: url("../images/desktop/image-soccer-team.jpg");
  }
  main .main-content-container .creations-wrapper .creations-list figure #image-grid {
    content: url("../images/desktop/image-grid.jpg");
  }
  main .main-content-container .creations-wrapper .creations-list figure #image-from-above {
    content: url("../images/desktop/image-from-above.jpg");
  }
  main .main-content-container .creations-wrapper .creations-list figure #image-pocket-borealis {
    content: url("../images/desktop/image-pocket-borealis.jpg");
  }
  main .main-content-container .creations-wrapper .creations-list figure #image-curiosity {
    content: url("../images/desktop/image-curiosity.jpg");
  }
  main .main-content-container .creations-wrapper .creations-list figure #image-fisheye {
    content: url("../images/desktop/image-fisheye.jpg");
  }
}
main .main-content-container .creations-wrapper .creations-list figure img {
  width: 100%;
}
main .main-content-container .creations-wrapper .creations-list figure span {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
  font-weight: 300;
  width: 140px;
}
@media screen and (min-width: 48em) {
  main .main-content-container .creations-wrapper .creations-list figure span {
    font-size: 2.5em;
    width: 220px;
  }
}
main .main-content-container .creations-wrapper .creations-list figure:hover img {
  opacity: 0.3;
}
main .main-content-container .creations-wrapper .creations-list figure:hover span {
  color: hsl(0, 0%, 0%);
}

.footer {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding-block: 3em;
  row-gap: 1em;
}
@media screen and (min-width: 62em) {
  .footer {
    flex-direction: row;
    padding-inline: 10.4em;
    justify-content: space-between;
  }
}
.footer > div:first-child {
  row-gap: 1em;
  margin-block-end: 1.5em;
}
@media screen and (min-width: 62em) {
  .footer > div:first-child {
    align-items: start;
    margin-block-end: 0;
  }
}
.footer > div:first-child .footer-logo {
  width: 9.4em;
}
@media screen and (min-width: 62em) {
  .footer > div:first-child .footer-navi {
    flex-direction: row;
    column-gap: 2em;
  }
}
.footer > div:first-child .footer-navi .footer-navi-link {
  padding-block: 1em;
  position: relative;
  color: hsl(0, 0%, 85%);
  text-decoration: none;
  font-family: "Alata", sans-serif;
}
.footer > div:first-child .footer-navi .footer-navi-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background-color: hsl(0, 0%, 100%);
  transform: translateX(-50%);
}
.footer > div:first-child .footer-navi .footer-navi-link:hover::after {
  width: 50%;
}
.footer > div:last-child {
  row-gap: 1.5em;
}
@media screen and (min-width: 62em) {
  .footer > div:last-child {
    align-items: end;
  }
}
.footer > div:last-child .social-links-list {
  column-gap: 1em;
}
.footer > div:last-child .social-links-list .social-link {
  padding-block-end: 0.5em;
  border-bottom: 3px solid transparent;
}
.footer > div:last-child .social-links-list .social-link:hover {
  border-bottom-color: hsl(0, 0%, 100%);
}
.footer > div:last-child .copyright {
  color: hsl(0, 0%, 50%);
  font-family: "Alata", sans-serif;
}/*# sourceMappingURL=styles.css.map */